/* CSS Document */

/*Navigation bar container*/
#header {position: relative;}
#header > a {
	background-color: white;
    position: fixed;
	z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
	padding: 15px 10vw;
	color: black;
	font-size: 22pt;
}
#header nav {display: flex; background-color: white; flex-flow: column nowrap;}
#header nav a {color: #555; width: auto; transition: 0.5s;}
#header #active, header nav a:hover {color: black; transition: 0.5s;}

#header nav a.button {
	background-color: gray;
	border: 7px solid gray;
	border-radius: 3px;
	color: #F7F7F7;
	text-align: center;
	margin-top: 15px;
	alignment-baseline: bottom;
	transition: 0.5s;
}

#header nav a.button:hover {border-width: 7px;}