<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="default">
                    <match url="^/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="home" stopProcessing="true">
                    <match url="^/home/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/" />
                </rule>
                <rule name="unfinished">
                    <match url="^(editing|aerial|equipment|photoshoot/new-request)(/|.html)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/not-finished.html" />
                </rule>
                <rule name="photoshoot" stopProcessing="true">
                    <match url="^photoshoot/?" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Redirect" url="/photoshoot/new-request" />
                </rule>
                <rule name="portfolio" stopProcessing="true">
                    <match url="^/portfolio(/(full/?)?)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/portfolio/" redirectType="SeeOther"/>
                </rule>
                <rule name="portfolio rewrite">
                    <match url="^portfolio/?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/portfolio/all/index.html" />
                </rule>
                <rule name="pricing" stopProcessing="true">
                    <match url="^/pricing/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/pricing" />
                </rule>
                <rule name="editing" stopProcessing="true">
                    <match url="^/editing/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/editing" />
                </rule>
                <rule name="aerial" stopProcessing="true">
                    <match url="^/aerial/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/aerial" />
                </rule>
                <rule name="equipment" stopProcessing="true">
                    <match url="^/equipment/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/equipment" />
                </rule>
                <rule name="hide .html extension" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="folders" stopProcessing="true">
                    <match url="^(/images/?|/css/?|/js/?)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/not-allowed.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/not-allowed.html" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/not-allowed.html" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/not-allowed.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
